*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container {
    background-color: var(--color-white);
    overflow-x: hidden;
    font-family: "Playfair Display", serif;
    // font-family: 'Playfair Display SC', serif;
    color: var(--color-black); 
   @include h1;
   @include h2;
   @include h3;
   @include h4;
   @include para;
   @include span;
   @include icon;
   font-family: 'Roboto', sans-serif;
   h1,h2{
    font-family: 'Poppins', sans-serif;
   }
   span{
       color:var(--orange);
   }
}
